/* app/globals.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-red: #FE2C55;
    --bg-black: #000000;
    --input-bg: #111111;
    --border-color: #222222;
    --text-secondary: #8a8a8a;
}

/* ... rest of your CSS ... */